[Unit]
Description=Allsite HN DDoS Protection Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/RTBH-HN
ExecStart=/usr/bin/python3 /opt/RTBH-HN/Allsite-HN_Service.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
