[Unit]
Description=Allsite HCM DDoS Protection Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/RTBH-HCM
ExecStart=/usr/bin/python3 /opt/RTBH-HCM/RTBH-HCM_Service.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
